<div class="container-fluid bg-light" id="contacto">
    <div class="row">
      <h2>Contáctanos</h2>
    </div>
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-sm-6" id="contact-form">
        <form>
          <div class="form-group">
            <label for="contact-name">Nombre</label>
            <input type="text" class="form-control" id="contact-name" 
                placeholder="Tu Nombre">
          </div>
          <div class="form-group">
            <label for="contact-email">Email</label>
            <input type="email" class="form-control" id="contact-email" 
                placeholder="Tu Email">
          </div>
          <div class="form-group">
            <label for="contact-msg">Email</label>
            <textarea class="form-control" id="contact-msg" 
                placeholder="Tu Mensaje" rows="4"></textarea>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary">Enviar</button>
            <button type="button" class="btn btn-outline-secondary">Limpiar</button>
          </div>
        </form>
      </div>
    </div>
  </div>